@page
@model AspnetRunBasics.CartModel
@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col" class="text-center"></th>
                            <th scope="col" class="text-right">가격</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var cartItem in Model.Cart.Items)
                        {
                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
                                <td>@cartItem.Product.Name</td>
                                <td><input class="form-control" type="hidden" /></td>
                                <td class="text-right">@(cartItem.Price * cartItem.Quantity) 만원</td>
                                <td class="text-right">

                                    <form asp-page-handler="removetocart" method="post">
                                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                        <input type="hidden" asp-for="@Model.Cart.Id" name="cartId" />
                                        <input type="hidden" asp-for="@cartItem.Id" name="cartItemId" />
                                    </form>

                                </td>
                            </tr>
                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>@Model.Cart.TotalPrice 만원</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

